* {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.header > h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 30px 0px 10px 0px;
    font-size: 3rem;
}

.header > div {
    width: 200px;
    height: 200px;
    background-image: url("./IMG-20210831-WA0016.jpg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.header > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > .profile > h2 {
    color: rgb(241, 199, 161);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    margin: 10px 0px;
}

.header > .profile > p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    width: 60%;
    word-spacing: .4px;
    line-height: 18px;
    text-align: justify;
}

.header > .socials {
    display: flex;
    margin: 10px 0px;
    width: 40%;
    justify-content: center;
}

.header > .socials > svg {
    width: 30px;
    margin: 0px 10px;
}



.main-service {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.main-service > section {
    width: 40%;
}

.main-service > .vision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-service > .vision > h3 {
    font-size: 3rem;
    line-height: 120%;
    font-family: 'Aclonica', sans-serif;
    letter-spacing: 1px;
    color: rgb(241, 199, 161);
}

.main-service > .vision > p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.main-service > .vision-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-service > .vision-more > h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    color: rgb(241, 199, 161);
}

.main-service > .vision-more > p {
    font-size: 1.2rem;
    word-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px;
    font-weight: 100;
    width: 90%;
}

.main-display {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 50px 0px;
}

hr {
    width: 100%;
    background: rgb(241, 199, 161);
    border: none;
    border-radius: 40px;
    height: .5px;
    margin: 30px 0px;
}

.main-display > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 800;
}

.main-display > h2 {
    margin: 20px 0px;
    font-family: 'Aclonica', sans-serif;
    font-size: 2.5rem;
    color: rgb(241, 199, 161);
    width: 90%;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: center;
}

.main-display > a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px;
    color: rgb(241, 199, 161);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.main-display > section {
    display: flex;
    width: 80%;
    height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px 10px 0px;
}

.img {
    width: 150px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    margin: 10px 0px;
}

.img-1 {
    background-image: url("./danist-n-3Pn7Ybe-s-unsplash.jpg");
}

.img-2 {
    background-image: url("./kasturi-roy-tAEKqI5TCUQ-unsplash.jpg");
}

.img-3 {
    background-image: url("./kulli-kittus-KQfxVDHGCUg-unsplash.jpg");
    background-position: -150px;
}

.img-4 {
    background-image: url("./terry-vlisidis-0dhIwRsPV74-unsplash.jpg");
} 

.img-5 {
    background-image: url("./tj-holowaychuk-iGrsa9rL11o-unsplash.jpg");
    background-position: -200px;
}

.img-6 {
    background-image: url("./jade-scarlato-dT6wB15xdoA-unsplash.jpg");
    background-position: -100px;
}

.main-display > .learn {
    border: solid 2px rgb(241, 199, 161);
    padding: 10px;
    width: 20%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
}

.about {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.about > .side {
    width: 40%;
}

.about > .about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about > .about-left > .preamble {
    font-size: 1.3rem;
    line-height: 100%;
    font-family: 'Nunito', sans-serif;
    color: rgb(241, 199, 161);
    width: 90%;
}

.about > .about-left > .content {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    width: 90%;
    font-weight: 300;
}

.about > .about-right > .content {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    width: 90%;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.contact > .tel-number > h2 {
    font-size: 3rem;
    font-family: 'Aclonica', sans-serif;
    color: rgb(241, 199, 161);
    text-align: center;
}

.contact > .tel-number > p {
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 5px 0px;
}

.contact > .address {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact > .address > .contact-img {
    width: 200px;
    height: 200px;
    background-size: 200%;
    filter: grayscale(10);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 50px 0px 20px 0px; 
    background-image: url("./IMG-20210831-WA0017.jpg");
}

.contact > .address > h2 {
    font-size: 1.3rem;
    color: rgb(241, 199, 161);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 10px 0px;
}

.contact > .address > p {
    font-size: 1rem;
    width: 50%;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 10px 0px;
}

.contact > .address > .borderline {
    width: 30%;
    height: 5px;
    background-color: rgb(241, 199, 161);
}

.footer {
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}

.footer > p > a {
    color: rgb(255, 136, 255);
}



@media (max-width: 600px) {
    .main-service {
        flex-direction: column;
    }

    .main-service > section {
        width: 90%;
    }
    
    .main-service > .vision > h3 {
        font-size: 2.5rem;
    }
    
    .main-service > .vision-more {
        margin: 30px 0px;
    }

    .main-display > .learn {
        width: 40%;
    }

    .about {
        flex-direction: column;
    }
    
    .about > .side {
        width: 90%;
    }
    
    .about > .about-left > .preamble {
        width: 100%;
    }
    
    .about > .about-left > .content {
        margin-top: 10px;
        width: 100%;
    }
    
    .about > .about-right > .content {
        margin-top: 30px;
        width: 100%;
    }

    .contact > .address > p {
        width: 80%;
    }
}
